<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida ultrices facilisis. Ut molestie dignissim euismod.</p>

<%- include("footer") -%>
